//COLORS
$color-gray-dark: #282828;

$color-gray-light: #6d7075;
$color-gray-lightest: #c7c7c7;

$color-black: #0e0e0e;
$color-white: #f0f0f0;

$color-pink: #f51167;

$color-green: #3cb878;
$color-green-light: #bdcec6;

$color-blue: #2e3348;

//MARGINS

$margin-section: 10rem;
$margin-section-phone: 5rem;
