.bestsellers {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: $margin-section;
  &__intro {
    width: 30rem;
    height: 55rem;
    padding: 20rem 0;
    @include respond(phone) {
      height: 20rem;
      padding: 2rem 0;
    }

    & h3 {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: bold;
    }
    & span {
      font-style: italic;
      color: $color-green;
    }
    & p {
      color: $color-gray-light;
    }
  }
}
