.products {
  padding: 10rem;
  text-align: center;
  @include respond(tab-port) {
    padding: 5rem;
  }
  @include respond(phone) {
    padding: 2.5rem;
  }
  &__heading {
    text-transform: uppercase;
    font-size: 3rem;
  }
  &__welcome {
    font-size: 1.2rem;
    display: block;
    color: $color-green;
    font-style: italic;
    margin-bottom: 5rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
