.item {
  width: 30rem;
  //height: 55rem;
  position: relative;
  margin-bottom: 4rem;

  &__image {
    background-color: $color-black;
    height: 45rem;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
    }
    &-show-item {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      height: 45rem;
      width: 30rem;
      color: $color-white;
      font-size: 1.5rem;
      background-color: rgba($color-black, 0.5);
      opacity: 0;
      text-align: center;
      padding-top: 70%;
      transition: all 0.4s ease;
      & a {
        display: inline-block;
        padding: 1rem 2rem;
        border: 2px solid $color-white;
      }
      & a:hover {
        color: $color-green;
        background-color: rgba($color-black, 0.2);
        border: 2px solid rgba($color-white, 0.2);
      }
    }
    &-show-item:hover {
      opacity: 1;
    }

    &-chart {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 3;
    }

    &-icons {
      width: 3.7rem;
      height: 3.7rem;
      display: block;
      font-size: 2rem;
      border-radius: 0.2rem;
      background-color: $color-green;
      margin-bottom: 0.3rem;
      text-align: center;
      text-decoration: none;
      color: $color-white;
    }
    &-icons:hover,
    &-icons:active {
      background-color: $color-gray-light;
      color: $color-green;
    }
  }
  &__description {
    background-color: $color-white;
    padding: 1.5rem 1rem;
    &-name {
      font-size: 1.8rem;
      font-size: bold;
      margin-bottom: 0.5rem;
    }
    &-price {
      color: $color-green;
      font-size: 1.6rem;
      text-align: right;
    }
  }
}
